@import 'mixins.less';
@import 'normalize.less';
@import 'icons.less';

@font-face {
  font-family: 'droid_sansregular';
  src: url('fonts/DroidSans-webfont.eot');
  src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'droid_sansregular';
  background-image: url('assets/grass.png')
}

.game {
  position: relative;
  padding: 24px;
}

.score-wrapper {
  position: absolute;
  top: 0px;
  right: 10px;
  color: white;
  font-size: 30px;
}

.lives {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  font-size: 30px;
}

.life {
  width: 37px;
  height: 38px;
  background-image: url('assets/veggies.png');
  background-position: 0 0;
  display: inline-block;
  vertical-align: top;
}

.main-grid {
  position: relative;
  max-width: 609px;
  margin: 100px auto 0 auto;
  .no-select
}

.main-grid-box {
  width: 200px;
  height: 200px;
  background-image: url('assets/mole-hole.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.mole-hole-wrapper {
  overflow: hidden;
  width: 116px;
  height: 103px;
}

.mole-hole-sprite {
  width: 696px;
  height: 206px;
}

.mole-wrapper {
  overflow: hidden;
  margin: 45px auto;
  width: 116px;
  height: 103px;
  cursor: pointer;
}

.mole-sprite {
  width: 696px;
  height: 206px;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.pop-up-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 234, 217, 0.7);
}

.pop-up {
  max-width: 600px;
  margin: 100px auto 0 auto;
  background-color: white;
  border: 1px solid gray;
  overflow: hidden;
}

.pop-up-title {
  font-size: 26px;
  font-style: bold;
  text-align: center;
  margin: 20px 0 0 0;
}

.pop-up-button {
  margin: 10px;
}

.standard-button {
  float: right;
  padding: 5px 10px;
  border: 1px solid gray;
  cursor: pointer;
  .rounded( );
}

.final-score-wrapper {
  color: rgb(0, 99, 169);
  font-size: 30px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.high-scores-wrapper {
  overflow: hidden;
  width: 296px;
  margin: 0 auto;
}

.high-scores {
  text-align: center;
  font-size: 20px;
}

.score-name-input {
  line-height: 28px;
}

.score-input-wrapper {
  padding: 0 0 10px 0;
}


/*************** Intro Page *****************/
.instructions-wrapper {
  padding: 10px 20px 20px 20px;
}

.instructions-image {
  float: left;
  width: 100px;
}

.instructions-chunk {
  overflow: hidden;
  padding: 20px 0 0 0;
}


.animation-in {
  -webkit-animation: animation 865ms linear both;
  animation: animation 865ms linear both;
}

/********************************/
/*Media Queries 1*/
/********************************/

@media all and (max-width: 399px) and (min-width: 0px) {
  .pop-up {
    margin: 0 auto 0 auto;
  }

  .main-grid {
    margin: 20px auto 0 auto;
  }

  .lives {
    max-width: 200px;
  }

  .main-grid-box {
    width: 100px;
    height: 100px;
  }

  .game {
    padding: 40px 0 0 0;
  }

  .mole-wrapper {
    margin: 0;
  }

  .main-grid-box {
    background-position: top left;
  }
}

@media all and (max-width: 699px) and (min-width: 400px) {
  .pop-up {
    margin: 0 auto 0 auto;
  }

  .main-grid {
    margin: 20px auto 0 auto;
  }

  .lives {
    max-width: 200px;
  }

  .main-grid-box {
    width: 110px;
    height: 110px;
  }

  .game {
    padding: 40px 0 0 0;
  }

  .mole-wrapper {
    margin: 0 auto;
  }
}

@media all and (max-width: 869px) and (min-width: 700px) {

}

@media all and (max-width: 1049px) and (min-width: 870px) {

}

@media all and (max-width: 1474px) and (min-width: 1050px) {

}

@media all and (max-width: 1719px) and (min-width: 1475px) {

}

@media all and (min-width: 1720px) {

}


 




/* Generated with Bounce.js. Edit at http://goo.gl/gaUQYk */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  2.99% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 145.719, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 145.719, 0, 1); }
  3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.444, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.444, 0, 1); }
  3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 124.074, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 124.074, 0, 1); }
  4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.906, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.906, 0, 1); }
  5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.14, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.14, 0, 1); }
  5.97% { -webkit-transform: matrix3d(2.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 36.424, 0, 1); transform: matrix3d(2.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 36.424, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.865, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.865, 0, 1); }
  7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.148, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.148, 0, 1); }
  7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, -2.608, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, -2.608, 0, 1); }
  8.96% { -webkit-transform: matrix3d(1.302, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, -15.683, 0, 1); transform: matrix3d(1.302, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, -15.683, 0, 1); }
  10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 0, -23.502, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 0, -23.502, 0, 1); }
  10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 0, -26.67, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 0, -26.67, 0, 1); }
  11.94% { -webkit-transform: matrix3d(0.693, 0, 0, 0, 0, 1.458, 0, 0, 0, 0, 1, 0, 0, -28, 0, 1); transform: matrix3d(0.693, 0, 0, 0, 0, 1.458, 0, 0, 0, 0, 1, 0, 0, -28, 0, 1); }
  12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, -27.917, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, -27.917, 0, 1); }
  14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -24.091, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -24.091, 0, 1); }
  14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -23.518, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -23.518, 0, 1); }
  19.65% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 1.354, 0, 0, 0, 0, 1, 0, 0, -6.188, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 1.354, 0, 0, 0, 0, 1, 0, 0, -6.188, 0, 1); }
  20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0, -5.289, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0, -5.289, 0, 1); }
  23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, -0.078, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, -0.078, 0, 1); }
  25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 0, 1.666, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 0, 1.666, 0, 1); }
  27.36% { -webkit-transform: matrix3d(0.954, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 1.869, 0, 1); transform: matrix3d(0.954, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 1.869, 0, 1); }
  31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0, 1.157, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0, 1.157, 0, 1); }
  31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 1.123, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 1.123, 0, 1); }
  37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); }
  38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.029, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.029, 0, 1); }
  42.77% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, -0.125, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, -0.125, 0, 1); }
  48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, -0.048, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, -0.048, 0, 1); }
  58.25% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.008, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.008, 0, 1); }
  60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0.007, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0.007, 0, 1); }
  69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  2.99% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 145.719, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 145.719, 0, 1); }
  3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.444, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.444, 0, 1); }
  3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 124.074, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 124.074, 0, 1); }
  4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.906, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.906, 0, 1); }
  5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.14, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.14, 0, 1); }
  5.97% { -webkit-transform: matrix3d(2.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 36.424, 0, 1); transform: matrix3d(2.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 36.424, 0, 1); }
  7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.865, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.865, 0, 1); }
  7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.148, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.148, 0, 1); }
  7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, -2.608, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, -2.608, 0, 1); }
  8.96% { -webkit-transform: matrix3d(1.302, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, -15.683, 0, 1); transform: matrix3d(1.302, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, -15.683, 0, 1); }
  10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 0, -23.502, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 0, -23.502, 0, 1); }
  10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 0, -26.67, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 0, -26.67, 0, 1); }
  11.94% { -webkit-transform: matrix3d(0.693, 0, 0, 0, 0, 1.458, 0, 0, 0, 0, 1, 0, 0, -28, 0, 1); transform: matrix3d(0.693, 0, 0, 0, 0, 1.458, 0, 0, 0, 0, 1, 0, 0, -28, 0, 1); }
  12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, -27.917, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 0, -27.917, 0, 1); }
  14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -24.091, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -24.091, 0, 1); }
  14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -23.518, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 0, -23.518, 0, 1); }
  19.65% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 1.354, 0, 0, 0, 0, 1, 0, 0, -6.188, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 1.354, 0, 0, 0, 0, 1, 0, 0, -6.188, 0, 1); }
  20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0, -5.289, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 0, -5.289, 0, 1); }
  23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, -0.078, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, -0.078, 0, 1); }
  25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 0, 1.666, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 0, 1.666, 0, 1); }
  27.36% { -webkit-transform: matrix3d(0.954, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 1.869, 0, 1); transform: matrix3d(0.954, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 1.869, 0, 1); }
  31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0, 1.157, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0, 1.157, 0, 1); }
  31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 1.123, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 1.123, 0, 1); }
  37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); }
  38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.029, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0, 0.029, 0, 1); }
  42.77% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, -0.125, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, -0.125, 0, 1); }
  48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, -0.048, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, -0.048, 0, 1); }
  58.25% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.008, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0.008, 0, 1); }
  60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0.007, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0.007, 0, 1); }
  69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
